<a href="https://colab.research.google.com/github/Gorchon/ML-Based-Expense-Predictor/blob/main/Fase_2_Entendimiento_de_los_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Fase 2: Entendimiento de los datos

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files

In [ ]:
df = pd.read_excel('datiños.xlsx')

In [ ]:
df.head()

,Número,Fecha (dd/mm/aa),Nombre actividad,Costo,Presupuesto,Tiempo invertido,Tipo,Momento,No. de personas
0,1,2022-08-12,Agua enbotellada,15.0,15.0,60.0,1.0,2.0,1.0
1,2,2022-08-12,Brownies chocolate,30.0,20.0,15.0,1.0,2.0,2.0
2,3,2022-08-12,Manzana,11.0,15.0,5.0,1.0,3.0,1.0
3,4,2022-08-13,Camisa s/mangas,50.0,30.0,2.0,1.0,1.0,2.0
4,5,2022-08-13,Termo,30.0,100.0,5.0,1.0,1.0,2.0

In [ ]:
df.shape

(300, 9)

In [ ]:
df.columns

Index(['Número', 'Fecha (dd/mm/aa)', 'Nombre actividad', 'Costo',
       'Presupuesto', 'Tiempo invertido', 'Tipo', 'Momento',
       'No. de personas'],
      dtype='object')

In [ ]:
df.dtypes

Número                       int64
Fecha (dd/mm/aa)    datetime64[ns]
Nombre actividad            object
Costo                      float64
Presupuesto                float64
Tiempo invertido           float64
Tipo                       float64
Momento                    float64
No. de personas            float64
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Número            300 non-null    int64
 1   Fecha (dd/mm/aa)  191 non-null    datetime64[ns]
 2   Nombre actividad  191 non-null    object
 3   Costo             191 non-null    float64
 4   Presupuesto       191 non-null    float64
 5   Tiempo invertido  191 non-null    float64
 6   Tipo              191 non-null    float64
 7   Momento           191 non-null    float64
 8   No. de personas   191 non-null    float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(1)
memory usage: 21.2+ KB

In [ ]:
df["Costo"].sum()

8661.6

In [ ]:
df["Tiempo invertido"].sum()

1277.0

In [ ]:
df["Nombre actividad"].value_counts()

Agua enbotellada       6
Lata de atún           5
Galleta cotsco         5
Crema de cacahuate     4
cacahuates             3
                      ..
guarnicion verduras    1
consome de pollo       1
cebolla blanca         1
Bolsa vegetales        1
Jabon p/ropa           1
Name: Nombre actividad, Length: 144, dtype: int64

In [ ]:
df["Momento"].value_counts()

2.0     128
1.0      36
3.0      25
22.0      2
Name: Momento, dtype: int64

In [ ]:
df["No. de personas"].value_counts()

1.0     124
2.0      38
3.0      16
4.0       5
6.0       5
5.0       2
12.0      1
Name: No. de personas, dtype: int64

In [ ]:
df.loc[df["Costo"].idxmax()]

Número                              134
Fecha (dd/mm/aa)    2022-09-30 00:00:00
Nombre actividad               Granola
Costo                             300.0
Presupuesto                       200.0
Tiempo invertido                    3.0
Tipo                                1.0
Momento                             2.0
No. de personas                     1.0
Name: 133, dtype: object

In [ ]:
df.groupby("Tipo").sum()

      Número   Costo  Presupuesto  Tiempo invertido  Momento  No. de personas
Tipo
1.0    16909  7547.6       7963.0            1145.0    366.0            286.0
3.0        7   170.0        200.0              15.0      2.0              2.0
4.0     1098   608.0        505.0              78.0     30.0             25.0
5.0       75   216.0        281.0              32.0      7.0              5.0
6.0      247   120.0        140.0               7.0      6.0              2.0

In [ ]:
df.describe()

,Número,Costo,Presupuesto,Tiempo invertido,Tipo,Momento,No. de personas
count,300.000000,191.000000,191.000000,191.000000,191.000000,191.000000,191.000000
mean,150.500000,45.348691,47.586387,6.685864,1.345550,2.151832,1.675393
std,86.746758,44.458895,45.069673,9.037685,1.039215,2.123300,1.333524
min,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,75.750000,19.500000,20.000000,2.000000,1.000000,2.000000,1.000000
50%,150.500000,30.000000,30.000000,3.000000,1.000000,2.000000,1.000000
75%,225.250000,60.000000,70.000000,9.000000,1.000000,2.000000,2.000000
max,300.000000,300.000000,200.000000,60.000000,6.000000,22.000000,12.000000