<a href="https://colab.research.google.com/github/Gorchon/ML-Based-Expense-Predictor/blob/main/finanzas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_excel('Registro.xlsx')
df.head()

,Número,Fecha (dd/mm/aa),Nombre actividad,Costo,Presupuesto,Tiempo invertido,Tipo,Momento,No. de personas
0,1,2022-08-12,Agua enbotellada,15.0,15,60,1,2,1
1,2,2022-08-12,Brownies chocolate,30.0,20,15,1,2,2
2,3,2022-08-12,Manzana,11.0,15,5,1,3,1
3,4,2022-08-13,Camisa s/mangas,50.0,30,2,1,1,2
4,5,2022-08-13,Termo,30.0,100,5,1,1,2

In [ ]:
df.columns

Index(['Número', 'Fecha (dd/mm/aa)', 'Nombre actividad', 'Costo',
       'Presupuesto', 'Tiempo invertido', 'Tipo', 'Momento',
       'No. de personas'],
      dtype='object')

In [ ]:
total_actividades = df["Número"].count()
total_actividades

300

In [ ]:
df["Presupuesto"].max()

2000

In [ ]:
df.loc[df["Presupuesto"].idxmax(),"Nombre actividad"]

'Audifonos '

In [ ]:
df["Presupuesto"].min()

0

In [ ]:
df.loc[df["Presupuesto"].idxmin(),"Nombre actividad"]

'caja de cerillos '

In [ ]:
df.groupby("Tipo").sum().iloc[0:,1:2].sort_values(by="Costo")
# Costo mmás bajo y más alto por tipo de actividad

        Costo
Tipo
3       170.0
5       216.0
6      1165.0
4      3535.0
1     12175.6

In [ ]:
total_dias = df["Fecha (dd/mm/aa)"].nunique()
total_dias

53

In [ ]:
total_gastos = df["Costo"].sum()
total_gastos

17261.6

In [ ]:
ahorro = df["Presupuesto"].sum() - df["Costo"].sum()
ahorro

1029.4000000000015

In [1]:
costo_autoregalo = 1499
ahorrodiario = ahorro / total_dias
print("Mi ahorro diario es $", round(ahorrodiario,2))

dias_ahorro = costo_autoregalo / ahorrodiario
print("Dias para seguir ahorrando", int(dias_ahorro))

NameError: ignored